# IDE files
.idea/

# Python cache files
auction/auctions/__pycache__/

# Media files
auction/media/auction_banners/
auction/media/product_images/
auction/media/user_profiles/

# Virtual environment
venv/
.venv/

# Configuration files
auction/.env

# Frontend build artifacts and dependencies
frontend/node_modules/
frontend/public/
